*{
    margin: 0px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
    margin: 0;
    padding: 0;
}
header {
    background-color: #121921;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5px 2px;
}

.logo img {
    width: 65px;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu li {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    padding-right: 100px;
}

.menu li:hover {
    color: rgba(166, 22, 22, 0.856); /* Texto rojo al pasar el raton */
   
}
#promo {
    display: flex;
    justify-content: space-between; /*separar los elementos*/
    align-items: center;
    padding: 20px;
    margin-right: 55px;
    margin-left: 60px;
}
#texto2{
    text-align: right;
    margin-left: 5px;
}
#descuento {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
#producto {
    display: flex;  /*organiza los elementos*/
    justify-content: center;
    align-items: flex-start;  /*alinea los elementos en la parte superior del contenedor*/  
    gap: 40px;
    padding: 40px;
}
#fotos {
    width: 40%;
    display: flex;
    
}
#fotos img {
    width: 100%;
    border-radius: 10px; /*para redondear los bordes*/
    cursor: pointer; /*para que se ponga el raton como mano*/
    
}

#info {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
#precio-logo {
    display: flex;
    align-items: center;
    justify-content: space-between; /*separar el precio y el logo*/
}
h2{
    margin-top: 5px;
}
.precio {
    font-size: 24px;
    font-weight: bold; /*texto en negrita*/
}
#logo {
    width: 100px;
}
.detalle-precio {
    font-size: 14px;
    margin-top: 5px;
    color: gray;
}
#tallas {
    margin-top: 20px;
}
.botones-talla {
    margin-top: 5px;
    display: flex; /*para que esten todos en linea*/
    gap: 10px;
}
button {
    padding: 10px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
}
button.cesta {
    margin-top: 15px;
    width: 100%;
    background-color: green;
}
button:hover {
    background-color: #555;
}
#detalles {
    margin-top: 20px;
}
.texto{
    margin-top: 10px;
}
footer {
    background: #121921;
    color: #fff;
    font-family: sans-serif;
    padding: 30px 0;
    text-align: center;
    width: 100%;
    margin-top: 100px;
}
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }
  
  .footer-left p {
    margin: 5px 0;
    font-size: 14px;
    text-align: left;
  }
  
  .footer-right p {
    margin: 5px 0;
    font-size: 14px;
    text-align: right;
  }
  
  .social-links {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  .social-links a:hover {
    color: red; /* Puedes cambiar el color al que prefieras */
  }